# Copia este archivo a .env y completa las claves antes de usar
OMDB_KEY=

# Configuración de la base de datos (usar en producción .env privado)
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=nicaplex
DATABASE_USER=nicaplex_user
DATABASE_PASSWORD=nicaplex_pass
